.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    border-radius: 5px;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    position: relative;
    display: flex;
    justify-items: center;
}

.header__navbar-user-img{
    width: 18px;
    height: 18px;
    border: 1px solid #00d5ff;
    border-radius: 100%;
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: calc(100% - (-1px));
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 3px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2.125rem 0 rgba(0, 0, 0, 0.2);
    border-color: transparent transparent var(--white-color) transparent;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    right: 6px;
    top: -24px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0px;
    width: 70%;
    height: 8px;
 
}

.header__navbar-user-item:last-child a{
    color: #00a6ff;
}

.header__navbar-user-item{
}

.header__navbar-user-item--saparate{
    border-top: 1px solid rgba(238, 75, 43, 0.05);
}

.header__navbar-user-item a{
    color: var(--text-color);
    font-size: 1.2rem;
    text-decoration: none;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
    color: var(--primary-color);
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-strong {
    font-weight: 600;
}

.header__navbar-item--sparete::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fb9086;
    height: 14px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 16%;
    top: 118%;
    padding: 8px;
    border-radius: 5px;
    display: none;
    animation: fadeIn ease 0.2 s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    position: absolute;
    left: 0;
    top: -13px;
    width: 100%;
    height: 6%;
    border-radius: 10px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header Notifications */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: default;
    transform-origin: calc(100% - 30px) top;
    animation: headerNotifyGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before {
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 12px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 110px;
    height: 15px;
    right: -4px;
    top: -15px;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f9f9f9;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.05);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    border: 3px solid var(--border-color);
    border-radius: 100%;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    /* line-height: 1.6rem; */
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #666;
    margin-top: 4px;
}

.header__notify--footer {
    display: flex;
}

.header__notify--footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

/* Auth modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 900;
    cursor: pointer;
}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #00d5ff;
}

.auth-form__aside {
    margin-top: 28px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 18px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form_socials {
    background-color: #f5f5f5;
    padding: 8px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-radius: 5px;
}

.auth-form_socials-icon {
    font-size: 1.8rem;
}

.auth-form_socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.auth-form_socials--facebook,
.auth-form_socials-icon {
    color: var(--white-color);
}

.auth-form_socials-title {
    margin: 0 16px;
}

.auth-form_socials--google {
    color: #666;
    background-color: #d2d2d2;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}

.auth-form__help-sparate {
    display: block;
    height: 16px;
    margin: 0 12px;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 5px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.8rem;
    margin: 6px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% - 6px);
    right: 2.5px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 2.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;

}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 48px;
    height: 48px;
    margin: 12px;
    border: 3px solid var(--border-color);
    border-radius: 100%;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price{
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    margin: 0 4px;
    font-size: 0.9rem;
    color: #757575;
}

.header__cart-item-qnt{
    color: #757575;
    font-size: 1rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1rem;
    font-weight: 100;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.3rem;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    font-size: 1.2rem;
}

.header__cart-view-cart:hover{
    background-color: #f05d41;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -30px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 30%;
    display: none;
}

.header__cart-list-no-cart-msg {
    /* display: block; */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}

.header__cart-notice{
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 1px 6px;
    top: 14px;
    right: 2px;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d

}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 5px;
}

.header__search-select {
    border-left: 1px solid #eaeaea;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-label {
    font-size: 1.2rem;
    color: var(--text-color);
}

.header__search-label-icon {
    font-size: 1.6rem;
    color: #adadad;
    position: relative;
    top: 2px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border-radius: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 110px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 5px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 18px;
    top: -18px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item:hover span{
    color: var(--primary-color);
}

.header__search-option-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__search-option-item span {
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 1px 5px #dedede;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 6px 16px;
    color: #999;
    font-weight: 100;
    font-size: 1.4rem;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0;
}

.header__search-history-item {
    height: 24px;
    padding: 0 16px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item:hover a{
    color: var(--primary-color);
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 24px;
    display: block;
}

/* App container */
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
    border-radius: 3px;
}

.category__heading{
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(238, 75, 43, 0.05);
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 12px;
}

.category-item{

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    border: 6px solid;
    border-color: transparent transparent transparent var(--primary-color);

}

.category-item__link{
    display: block;
    position: relative;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 16px;
    transition: right ease-in 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    background-color: rgba(238, 75, 43, 0.05);
    padding: 12px 22px;
    border-radius: 3px;
}

.home-filter__label{
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 14px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disible{
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disible .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.6rem;
    color: #555;
}




